<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/losdelfines</property>
		<property name="connection.username">root</property>
		<property name="connection.password">0212002</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
	<!--
		<mapping class="com.jsf.hostaljsf.dominio.entidad.Cliente" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.Empleado" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.Habitacion" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.Reserva" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.Producto" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.VentaProducto" />
		<mapping class="com.jsf.hostaljsf.dominio.entidad.VentaProductoDetalle" />-->
	</session-factory>
</hibernate-configuration>